@import '../constants/variables.scss';

.coa-UserSettings {
  color: $color-bright-green;
}

.coa-UserSettings-avatar {
  vertical-align: middle;
}

.coa-UserSettings-dropdown-menu {
  top: 0.75rem !important;
}
